*{
	margin: 0px;
	padding: 0px;
}

h1{
	font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 23px 0;
}

p{
	font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    margin: 0 0 23px 0;
}

#header{
	text-align: center;
	margin: 30px;
}

#about{
	width: 70%;
	margin: 0px auto;
}